*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}

.container {
    display: flex;
}

.side{
    width: 15.625rem;
    background-color: white;
    padding: 1rem;

h2{
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

h3{
    font-size: 1rem;
}

ul{
  list-style: none;
  padding-left: 1rem;
}

li{
    padding: 0.5rem;
    font-size: 0.9rem;
}
}

.on{
    font-weight: bold;
    color: white;
    background-color: rgb(0, 162, 255);
}

.screen-grid-container{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    max-width: fit-content;
    max-height: fit-content;
}

.screen{
    max-width: fit-content;
    background-color: rgba(242, 242, 242, 0.87);
    padding: 2rem;
    text-align: left;
    border-radius: 2rem;
}

#name-screen{
    font-size: small;
    color: grey;
}
