*{
    height: fit-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
}

.container {
    display: flex;
}

.side{
    display: inline-block;
    width: 16rem;
    height: 100vh;
    background-color: white;
    padding: 1rem;
    border-right: 2px solid rgba(128, 128, 128, 0.86);
    text-align: justify;
    margin-top: 2rem;

.side h2, h3{
    display: inline-flex;
    justify-content: space-between;
    
}

h2{
    max-width: 80%;
    font-size: 1rem;
    margin-bottom: 0.8rem;

}

h2 img{
    display: flex;
    align-items: center;
}

h3{
    font-size: 1rem;
    margin-right: 5rem;
    color: gray;
    margin-bottom: 1rem;
    
}

#first{
    padding-left: 1.1rem;
}

ul{
  list-style: none;
  text-align: left;
}

li{
    padding: 0.5rem;
    font-size: 0.9rem;
}

#icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 10rem;
}

#iconli{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
   /* margin-left: 0.5rem;*/
}

.line{
    width: 100%;
    height: 2px;
    color: gray;  
}
}

.on{
    font-weight: bold;
    color: white;
    background-color: rgba(2, 101, 249, 0.644);
}


.screen-grid-container{
    margin-top: 2rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0.5rem;
    background-color: rgba(215, 214, 214, 0.999);
}

.screen img{
    width: 100%;
    max-width: 10rem;
    padding: 0.5rem;
   /* text-align: left;*/
    border-radius: 1rem;
    box-shadow: 0 2pxx rgba(51, 48, 48, 0.1);
}

#name-screen{
    margin-left: 2rem;
    font-size: small;
    color: grey;
    text-align: left;
    justify-content: left;
}